.blackhole {
  background-image: url(../img/black_hole.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
#tesla {
  /* flex-grow: 1;
  overflow: hidden;
  position: relative;
  color: white;
  font-size: 3em; */
}

img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /* background-image: url(../img/tesla_cartoon_espace.png); */
  /* width: 5%;
  height: 5%;
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* animation: teslaBack 2s forwards; */
}

/* @keyframes teslaBack {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1);
  }

  10% {
    transform: scale(2);
  }
  15% {
    transform: scale(3);
  }
  20% {
    transform: scale(4);
  }
  25% {
    transform: scale(5);
  }
  30% {
    transform: scale(6);
  }
  35% {
    transform: scale(7);
  }
  40% {
    transform: scale(8);
  }
  45% {
    transform: scale(9);
  }
  50% {
    transform: scale(10);
  }
  55% {
    transform: scale(11);
  }
  60% {
    transform: scale(12);
  }
  65% {
    transform: scale(13);
  }
  70% {
    transform: scale(14);
  }
  75% {
    transform: scale(15);
  }
  80% {
    transform: scale(16);
  }
  85% {
    transform: scale(17);
  }
  90% {
    transform: scale(18);
  }
  95% {
    transform: scale(19);
  }
  100% {
    transform: scale(20);
  }
} */
